.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    max-width:1300px;
    background-color: #001883;
}

.navbar .nav-links button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.navbar .logo-container img {
    width: 100%;
}

.navbar .logo-container { 
    flex: 50%;
    height: 100%; 
    display: flex;
    align-items: center;
    padding-left: 150px; 
}

.navbar .nav-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.navbar .nav-links Link {
  color: white;
  font-size: 1.12rem;
  margin: 20px;
  padding: 10px 18px;
  background-color: #001883;
  border-radius: 30px;
  transition: 0.3s ease;
}

.navbar .nav-links Link:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.navbar #open {
  padding-left: 0px;
}
.navbar #open img {
  display: none;
}

.navbar #close img {
  display: inherit;
}

.navbar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.navbar #close .hiddenLinks {
  display: none;
}

.navbar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
    .navbar .rightSide a {
        width: 70px;
    }
    .navbar .leftSide {
        padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    
    .navbar .nav-links a {
        display: none;
    }

    .navbar .nav-links {
        justify-content: flex-end;
        padding-right: 50px;
    }

    .navbar .nav-links button {
        display: inherit;
    }
}
@media only screen and (min-width: 600px) {
  .navbar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

.navbar .nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar .nav-links ul Link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
}

.navbar .nav-links ul Link:hover {
    background: #0056b3;
    color: #ffffff;
}

.navbar .nav-links ul Link.active {   
    background: #00aaff;
    font-weight: bold;
    color: white;
}



.navbar .toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.navbar .toggle-button div {
    width: 100%;
    height: 3px;
    background: white;
    transition: all 0.3s ease;
}

@media only screen and (min-width: 768px) {
    .toggle-button {
        display: flex;
    }
}